[submodule ".registry"]
	path = .registry
	url = https://github.com/costavale/costavale.r-universe.dev
	branch = HEAD
[submodule "BlueCarbon"]
	path = BlueCarbon
	url = https://github.com/valybionda/BlueCarbon
